{% extends "templates/layouts/default.html" %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">

        <form class="form-horizontal mt24" action="." method="post">
            {% if succ %}
                <div class="alert alert-success alert-dimissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    恭喜小伙伴，修改参数成功！
                </div>
            {% endif %}

            {% if errors %}
                <div class="alert alert-danger alert-dimissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <input type="hidden" name="id" value="{{ datas.id }}" />

            <div class="form-group">
                <label class="col-md-2 control-label" for="id">id：</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" value="{{ datas.id }}" name="id" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="ad_id">广告平台id：</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" value="{{ datas.ad_id }}" name="ad_id" placeholder="请输入广告id" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="ad_intro">标题：</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="{{ datas.title }}" name="title" placeholder="请输入标题" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="ad_intro">说明：</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="{{ datas.description }}" name="description" placeholder="请输入说明文字" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="total_task">应完成任务数：</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="{{ datas.total_task }}" name="total_task" placeholder="请输入应完成任务数" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="ad_points">奖励点数：</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="{{ datas.points }}" name="points" placeholder="请输入奖励点数" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">是否开启：</label>
                <div class="col-md-6">
                    <label for="open">
                        <input type="radio" id="open" name="status" value=1 {% if datas.status %}checked{% endif %}>
                         开启
                        </label>
                    <label for="close">
                        <input type="radio" id="close" name="status" value=0 {% if not datas.status %}checked{% endif %}>
                         关闭
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info">确认修改</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
