{% extends "templates/layouts/default.html" %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
		{% if succ %}
		    <div class="alert alert-success alert-dimissable">
		        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		        恭喜小伙伴，修改兑换类型成功！
		    </div>
		{% endif %}

		{% if errors %}
		    <div class="alert alert-danger alert-dimissable">
		        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		        <ul>
		            {% for error in errors %}
		                <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    </div>
		{% endif %}	
		<form class="form-horizontal mt24" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
		    <!--<div class="form-group">
                <label class="col-md-2 control-label" for="exchangeType">兑换大类：</label>
                <div class="col-md-10">
                    <select name="exchangeTid" >
                    <option value="1">遊戲點卡</option>
                    <option value="3">現金兌換</option>
                    <option value="2">優惠劵</option>
                    </select>
                </div>
            </div>-->

		    <div class="form-group">
		        <label class="col-md-2 control-label" for="exchangeTypeName">类型名称：</label>
		        <div class="col-md-6">
		        	<input type="hidden" name="id" value="{{ temps.id }}" />
		            <input type="text" class="form-control" name="exchangeTypeName" id="exchangeTypeName" value="{{ temps.exchangeTypeName }}"placeholder="请输入类型名称" />
		        </div>
		    </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="priority">优先级：</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="priority" id="priority" value="{{ temps.priority }}"  placeholder="0默认，1最大，2次之，输入整数……" />
                    </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="channel">ios屏蔽渠道（1企业版，3appstore版）</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="channel" id="channel" value="{{ temps.channel }}"  placeholder="0为空，1企业版，3appstore版" />
                    </div>
            </div>

		    <div class="form-group">
		        <label class="col-md-2 control-label" for="exchangeTypeIcon">类型图标：</label>
		        <div class="col-md-6">
		        	<img src="http://gofree.cc/static/{{ temps.exchangeTypeIcon }}" />
		            <!--<input type="file" name="exchangeTypeIcon" id="exchangeTypeIcon" />-->
		            <!--<input type="text"  class="form-control" name="exchangeTypeIcon" value="{{ temps.exchangeTypeIcon }}" id="exchangeTypeIcon"  placeholder="请输入图标类型"/>-->
		        </div>
		    </div>
		    
		    <!--<div class="form-group">
		        <label class="col-md-2 control-label" for="exchangeTypeIcon">商品地址类型：</label>
		        <div class="col-md-6">
		            <input type="text"  class="form-control" name="exchangeTypeAddr" id="exchangeTypeAddr" value="{{ temps.exchangeTypeAddr}}"  placeholder="请输入商品地址类型"/>
		        </div>
            </div>-->
		    

		    <div class="form-group">
		        <div class="col-md-offset-2 col-md-10">
		            <button type="submit" class="btn btn-info">修改类型</button>
		        </div>
		    </div>
		</form>
    </div>
</div>

{% endblock %}

{% block page_javascript %}
<script>
    $("#exchangeCost").on('blur', function() {
        var value = parseInt(this.value);
        if (value) $("#cost_point").html( value * 100 );
    });
</script>
{% endblock %}
